<footer>

    <div class="container">

        <div class="row">

            <div class="col-md-4">

                <span class="copyright"></span>

            </div>

            <div class="col-md-4">

                <ul class="list-inline ">

                    <li>                      
                      <%= link_to image_tag(image_path("social/twitter.png"), :size => "40x40"), 
                                  "https://twitter.com/jjcanocortes", :class => "twitter-follow-button", 
                                  :title => "Seguirme en Twitter", 
                                  :"data-show-count" => "false", 
                                  :"data-lang" => "es", 
                                  :rel => "nofollow" %>
                    </li>

                    <li>
                      <%= link_to image_tag(image_path("social/linkedin.png"), :size => "40x40"), 
                                  "http://bit.ly/1P6ofG6", :class => "twitter-follow-button", 
                                  :title => "Mi perfil en LinkedIn", 
                                  :"data-show-count" => "false", 
                                  :"data-lang" => "es", 
                                  :rel => "nofollow" %>
                    </li>

                    
                </ul>

            </div>

            <div class="col-md-4">

                <ul class="list-inline quicklinks">

                    
                </ul>

            </div>

        </div>

    </div>

</footer>