@import "bootstrap-sprockets";
@import "bootstrap";
@import "agency";


.zoom{
  font-size: 48px;
}

.btn-message {
  margin-top: 100px;
}


.crew{
  margin-top: 30px;
  margin-bottom: 90px;
}

.curriculum{
  line-height: 25px;
}